<% content_for :head do %>
<style>
  .content {
    overflow-y: scroll;
  }

  .collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .book {
    display: block;
    box-sizing: border-box;
    text-align: center;

    height: 300px;
    width: 200px;

    background: var(--color-bump2);
    border: 1px solid var(--color-border);

    padding: 10px;
    margin: 10px;
  }
</style>
<% end %>

<%= flash[:notice] %>

<div class='collection'>
<% @books.each do |book| %>
  <a class='book' href='<%= resume_book_path(anchor: book.slug) %>'>
    <p><%= book.name %></p>
    <p><%= pluralize book.paragraphs.size, 'page' %></p>
  </a>
<% end %>
</div>

<script>
  if ('serviceWorker' in navigator)
      navigator.serviceWorker.register('/sw.js');
</script>
