<% content_for :head do %>
  <%= javascript_pack_tag :book %>
<% end %>

<script>
  window.book = <%=
    raw({
      content: @paragraph.content,
      page: @paragraph.index,
      pageCount: @book.paragraphs.size
    }.to_json)
  %>
</script>

<div id='viewer'></div>
